/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background: url(../img/bg-triangle.jpg) center -153% repeat-x #fff;*/
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body.bg-black{
    /*background: url(../img/bg-black-triangle.jpg) center -153% repeat-x #404040;*/
    background-color: #404040;
}

/* Portrait layout (default) */
.app {
    width:100%;                    /* text area width */
    text-align:center;
    margin:auto;                   /* offset vertical: half of image height and text area height */
}

.app.visual-page{
    position: absolute;
    top: 7%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/* Monitorica font */

@font-face {
    font-family: "Monitorica";
    src: url(../fonts/Monitorica-Rg.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Monitorica-Bold';
    src: url(../fonts/Monitorica-Bd.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Monitorica-Italic';
    src: url(../fonts/Monitorica-It.ttf) format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Monitorica-Bold-Italic';
    src: url(../fonts/Monitorica-BdIt.ttf) format("truetype");
    font-style: italic;
    font-weight: bold;
}

/* Antonio font */

@font-face {
    font-family: "Antonio";
    src: url(../fonts/Antonio-Regular.woff) format("woff"), 
         url(../fonts/Antonio-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Antonio-Bold";
    src: url(../fonts/Antonio-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Antonio-Light";
    src: url(../fonts/Antonio-Light.ttf) format("truetype");
    font-weight: lighter;
}

/* Open Sans font */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1{
    font-size:56px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-transform: uppercase;
    font-family: "Monitorica", sans-serif; 
}

h2{
    font-size:74px;
    font-weight:normal;
    margin: .5em 0;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-transform: uppercase;
    font-family: "Monitorica", sans-serif;
}

.home h2{
    letter-spacing: 0.02em;
}

h3{
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    text-transform: none;
    color: #6b6b6b;
}

p{
    font-size: 38px;
    text-transform: none;
}

a{
    font-size: 40px;
    color: #48637b;
    text-decoration: none;
}

a:active{
    color: #82a7bd;
}

.column{
    display: inline-block;
    margin: 0 1em;
}

body.bg-black p,
body.bg-black span,
body.bg-black a{
    color: #b4b4b4;
}

body.bg-black a{
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: .1em;
}

body.bg-black a:active{
    color: #7b7a7a;
}

body.bg-black h1,
body.bg-black h2,
body.bg-black h3,
body.bg-black h4{
    color: #fff;
    text-transform: uppercase;
}

.dashed-title{
    border-bottom-size: 1px;
    border-bottom-style: solid;
    margin-bottom: 2em;
    border-bottom-color: #000;
}

body.bg-black .dashed-title{
    border-bottom-color: #fff;
}

.dashed-title span{
    position: relative;
    top: 42px;
    padding: 0 .5em;
    background-color: #f2f2f2;
}

body.bg-black .dashed-title span{
    background-color: #404040;  
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/** LOGIN **/

.login-initial{
    position: relative;
    margin-top: 40%;
}

button{
    padding: 1em;
    border: 1px solid #48637b;
    border-radius: 9px;
    display: block;
    margin: 1em auto;
    width: 67%;
    color: #48637b;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    background: none;
}

button:active,
button.white-button:active,
button.fb-button:active{
    background-color: #48637b;
    color: #fff;
}

button.white-button{
    border-color: #5F5F5F;
    color: #82a7bd;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
}

button.fb-button{
    background-color: #042d65;
    color: #fff;
}

.call-login{
    text-transform: uppercase;
    display: block;
    font-size: 52px;
}

.login{
    margin: auto;
    width: 56em;
}

.login p{
    margin-bottom: 0;
}

.login input[type="text"],
.login input[type="password"]{
    font-size: 43px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: .6em;
    margin: .1em;
    background: none;
    color: #fff;
    border-bottom: 1px solid #dedede;
    border-top: none;
    border-right: none;
    border-left: none;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus{
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
    background-color: #545353;
} 

.login input[type="submit"]{
    border: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: #dedede;
    background: none;
}

button.submit{
    margin-top: 4em;
    border-color: #dedede;
}

button.submit:active{
    background-color: #292929;
    border-color: #292929;
}

.remember-pass{
    font-size: 36px;
}

.column button.submit{
    width: 9em;
}

.small-text-obs{
    font-size: 29px;
    display: block;
    margin: auto;
    text-align: left;
    padding: 0 1.9em;
}

input[type="checkbox"]{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1.5em;
}

/* Header */

header.main-header{
    padding-top: 7%;
}

header{
    margin-bottom: 2em;
}

h1.logo img{
    width: 29%;
    max-width: 690px;
    margin: 0.8em;
}

h1.logo.logo-symbol img{
    width: 30%;
    max-width: 440px;
}


.logo a{
    border: none !important;
}

.app.loja header h1.logo.logo-symbol img{
    width: 17%;
    margin: .5em 0;
}

.icon-bag{
    position: absolute;
    top: 5%;
    right: 15%;
    width: 1.2em;
}

.icon-favorite{
    position: absolute;
    bottom: 0;
    right: 4%;
    width: 15%;
}

[class^="icon-"] img{
    width: 100%;
}

[class^="icon-"]:active img{
    opacity: .5;
}

header [class^="icon-"]{
    top: 9%;
    width: 1.1em;
    position: absolute;
}

.content-inner.products-inner .section-button-product .icon-favorite{
    margin: 0 1em;
    vertical-align: middle;
}

.content-inner.products-inner .section-button-product .icon-favorite img{
    width: 1.3em;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.icon-bag{
    right: 15%;
}

.icon-share,
.icon-search{
    right: 6%;  
}


/* Menu */

.wrapper-menu ul {
  margin: 0;
  padding: 0;
    list-style: none;
}

/* Content */
.wrapper-menu .content {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #B9B9B9;
    box-shado: 0 0 50px 0 rgba(0,0,0,.8);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.wrapper-menu .content-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrapper-menu .content-inner h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
    font-family: Futura, "Century Gothic", "helvetica neue", arial, sans-serif !important;
    font-style: italic;
}

.wrapper-menu .content-inner p {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.wrapper-menu .content-inner p span {
    border-bottom: 1px solid #fff;
}

/* drawer menu */
.wrapper-menu .drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 120px 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: perspective(500px) rotateY(90deg);
    transform: perspective(500px) rotateY(90deg);
    opacity: 0;
}

.wrapper-menu .drawer-menu li {
    text-align: center;
}

.wrapper-menu .drawer-menu li a {
    display: block;
    line-height: 107px;
    font-size: 35px;
    color: #fff;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.wrapper-menu .drawer-menu li a:hover {
    color: #1a1e24;
    background: #fff;
}

/* checkbox */
.wrapper-menu .check {
    display: none;
}

/* menu button - label tag */
.wrapper-menu .menu-btn {
    position: absolute;
    display: block;
    top: 7%;
    left: 7%;
    display: block;
    width: 8%;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.wrapper-menu .bar {
    display: block;
    width: 80%;
    height: 4px;
    margin: 1.3em .7em;
    background: #000;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.wrapper-menu .bar.middle {
    opacity: 1;
}

.wrapper-menu .bar.bottom {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}

.wrapper-menu .menu-btn-text {
    color: #000;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: block;
    visibility: visible;
    opacity: 1;
    font-size: 27px;
}

.wrapper-menu .menu-btn:hover .bar {
    background: #999;
}

.wrapper-menu .menu-btn:hover .menu-btn-text {
    color: #999;
}

.wrapper-menu .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background: rgba(0,0,0,0);
    cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}

/* Menu checked */
.wrapper-menu .check:checked ~ .drawer-menu {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    z-index: 2;
}

.wrapper-menu .check:checked ~ .content {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
}

.wrapper-menu .check:checked ~ .menu-btn .menu-btn-text {
    visibility: hidden;
    opacity: 0;
}

.wrapper-menu .check:checked ~ .menu-btn .bar{
    background-color: #fff;
}

.wrapper-menu .check:checked ~ .menu-btn .bar.top {
    width: 56px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wrapper-menu .check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.wrapper-menu .check:checked ~ .menu-btn .bar.bottom {
    width: 56px;
    top: 40px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.wrapper-menu .check:checked ~ .close-menu {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    background: rgba(0,0,0,.5);
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

/* */

.spaced-button{
    margin: 3em auto;
}

.spaced-button::after{
    content: '';
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent; 
    border-left:13px solid #48637b; 
    margin-left: .3em;
}

.spaced-button:active::after{
    border-left-color: #fff;
}

/* Loja */

.loja .content-inner{
    background-color: #f2f2f2;
    display: table;
    width: 100%;
    height: 100%;
}    

a[class^="look-"]{
    background-size: cover;
    background-repeat: no-repeat;
}

a[class^="look-"]:active{
    opacity: .5;
}

a[class^="look-"] span{
    width: 5.5em;
    height: 5.5em;
    display: table;
    position: relative; 
    top: 17%;
    left: 26%;
    background-color: rgba(131, 161, 180, 0.52);
    color: #fff;
    transform: rotate(50deg);
}

a[class^="look-"]:first-of-type span{
    left: 10%;
}

a[class^="look-"] span strong{
    transform: rotate(-50deg);
    display: table-cell;
    vertical-align: middle;
}

.look-ano-novo{
    width: 96%;
    height: 9em;
    display: block;
    background-image: url(../img/anonovo.jpg);
    margin: 0 .5em .5em;
}

.look-balada,
.look-boy,
.look-amigas,
.look-praia,
.look-tranquilo,
.look-bar{
    width: 47%;
    height: 9em;
    float: left;
    margin: 0 .5em .5em;
}

.product-box a{
    position: relative;
    width: 47%;
    height: 12em;
    float: left;
    margin: 0 .5em .5em;
    overflow: hidden;
}

.product-box a:nth-child(2n+2){
    margin: 0;
}

.product-box a span{
    position: absolute;
    width: 5.5em;
    height: 5.5em;
    display: table;
    top: 36%;
    left: 29%;
    background-color: rgba(131, 161, 180, 0.52);
    color: #fff;
    transform: rotate(50deg);
}

.product-box a span strong{
    transform: rotate(-50deg);
    display: table-cell;
    vertical-align: middle;
}

.look-boy,
.look-praia,
.look-bar,
.look-moletons,
.look-camisas,
.look-shorts{
    margin: 0;
}

.content-inner.products a[class^="look-"]{
    width: 47%;
    height: 12em;
    float: left;
    margin: 0 .5em .5em;
}

.content-inner.products a[class^="look-"]:nth-child(2n+1){
    margin: 0;
}

.content-inner.products a[class^="look-"] span{
    top: 28%;
}

.content-inner.products a[class^="look-"]:first-of-type span{
    left: 28%;
}

.content-inner.products-inner img{
    width: 72%;
}

.look-balada{
    background-image: url(../img/balada.jpg);
}

.look-boy{
    background-image: url(../img/boy.jpg);
}

.look-amigas{
    background-image: url(../img/shop.jpg);
}

.look-praia{
    background-image: url(../img/praiaa.jpg);
}

.look-tranquilo{
    background-image: url(../img/boa.jpg);
}

.look-bar{
    background-image: url(../img/bar.jpg);
}

.look-saias{
    background-image: url(../img/produto_0000_1210_1930.jpg);
}

.look-moletons{
    background-image: url(../img/produto_0002_1210_7362.jpg);
}

.look-camisetas{
    background-image: url(../img/produto_0011_1210_9286.jpg);
}

.look-camisas{
    background-image: url(../img/produto_0006_1210_8731.jpg);
}

.look-calcas{
    background-image: url(../img/produto_0001_1210_5664.jpg);
}

.look-shorts{
    background-image: url(../img/produto_0000_1210_1930.jpg);
}

.icon-category{
    display: inline-block;
    position: relative;
    margin: 1em 1.7em;
}

a[class^="icon-category"] img{
    width: 2em;
}

a[class^="icon-category"] span{
    display: block;
}

.more-categories{
    display: block;
    clear: both;
}

.info-product{
    position: relative;
    margin-top: -14em;
    padding: 0 3em;
    background-image: linear-gradient(to bottom, transparent 0%, #F2F2F2 4%);
    display: table;
    height: auto;
}

.info-product span{
    display: block;
}

.price-product,
.name-product{
    font-size: 4em;
}

.name-product{
    margin: 0.5em 0;
}

.size-product{
    float: left;
}

.size-product ul{ 
    list-style: none;
}

.size-product ul li{
    display: inline-block;
} 

.size-product strong{
    text-align: left;
}

.size-product li label{
    font-size: 3em;
    width: 2em;
    display: block;
    margin: 0 0.5em;
    background-color: #fff;
    border-radius: 39px;
    height: 2em;
    line-height: 2em;
}

.size-product input{
    position: absolute;
    left: -999999%;
}


.size-product li .attr-size a:focus{
    color: #fff;
}

.size-product > li > label > input{
    position: absolute;
    top: 0;
    left: -90000px;
}

.size-product li label.color-82a8bd{
    background-color: #82a8bd;
}

.size-product li label.color-fff{
    background-color: #fff;
}

.size-product li label.color-c8d94a{
    background-color: #c8d94a;
}

.size-product input:focus + label{
    background-color: #000;
    color: #fff;
}

.size-product input:focus + label.color-c8d94a{
    background-color: rgba(130, 168, 189, 0.63) !important;
}

.size-product input:focus + label[class^="color-"]{
    background-image: url(../img/icon-check.svg);
}

.size-product{
    margin: 0 3em;
}

.section-button-product button{
    width: 76%;
}

button.blue-button{
    background-color: #82a8bd;
    color: #fff;
}

button.blue-button:hover{
    background-color: #638090;
}

button.yellow-button{
    background-color: #f1b237;
    border-color: #f1b237;
    color: #fff;
}

button.yellow-button:hover{
    background-color: #E0980C;
}