/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-image: url(../img/bg-job-top.png), url(../img/bg-job-bottom.png);
    background-position: right -12%, left -139%;  
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    overflow-x: hidden; 
}

body.bg-white{
    background-color: #fff;
}

body.bg-black{
    background-color: #404040;
}

body.bg-black.bg-cadastro{
    background-position: right -12%, left -1305%;
}

/* Portrait layout (default) */
.app {
    width:100%;                    /* text area width */
    text-align:center;
    margin:auto;                   /* offset vertical: half of image height and text area height */
    overflow-x: hidden;
}

.app.visual-page{
    position: absolute;
    top: 7%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
       /* padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
       /* margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/* Monitorica font */

@font-face {
    font-family: "Monitorica";
    src: url(../fonts/Monitorica-Rg.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Monitorica-Bold';
    src: url(../fonts/Monitorica-Bd.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Monitorica-Italic';
    src: url(../fonts/Monitorica-It.ttf) format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Monitorica-Bold-Italic';
    src: url(../fonts/Monitorica-BdIt.ttf) format("truetype");
    font-style: italic;
    font-weight: bold;
}

/* Antonio font */

@font-face {
    font-family: "Antonio";
    src: url(../fonts/Antonio-Regular.woff) format("woff"), 
         url(../fonts/Antonio-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Antonio-Bold";
    src: url(../fonts/Antonio-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Antonio-Light";
    src: url(../fonts/Antonio-Light.ttf) format("truetype");
    font-weight: lighter;
}

/* Open Sans font */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1{
    font-size:56px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-transform: uppercase;
    font-family: "Monitorica", sans-serif; 
}

h2{
    font-size:74px;
    font-weight:normal;
    margin: .5em 0;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-transform: uppercase;
    font-family: "Monitorica", sans-serif;
}

.home h2{
    letter-spacing: 0.02em;
}

h3{
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    text-transform: none;
    color: #6b6b6b;
}

p{
    font-size: 38px;
    text-transform: none;
}

a{
    font-size: 40px;
    color: #48637b;
    text-decoration: none;
}

a:active{
    color: #82a7bd;
}

.column, .columns{
    display: inline-block;
    margin: 0 1em;
}

hr{
    margin: 8em 0;
    border-color: #fff;
}

body.bg-black p,
body.bg-black span,
body.bg-black a{
    color: #b4b4b4;
}

body.bg-black a{
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: .1em;
}

body.bg-black a:active{
    color: #7b7a7a;
}

body.bg-black h1,
body.bg-black h2,
body.bg-black h3,
body.bg-black h4{
    color: #fff;
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.dashed-title{
    border-bottom-size: 1px;
    border-bottom-style: solid;
    margin-bottom: 2em;
    border-bottom-color: #000;
}

body.bg-black .dashed-title{
    border-bottom-color: #fff;
}

.dashed-title span{
    position: relative;
    top: 42px;
    padding: 0 .5em;
    background-color: #f2f2f2;
}

body.bg-black .dashed-title span{
    background-color: #404040;  
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/** LOGIN **/

.login-initial{
    position: relative;
    margin-top: 20%;
}

button{
    padding: 1em;
    border: 1px solid #48637b;
    border-radius: 9px;
    display: block;
    margin: 1em auto;
    width: 67%;
    color: #48637b;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    background: none;
}

button:active,
button.white-button:active,
button.fb-button:active{
    background-color: #48637b;
    color: #fff;
}

button.white-button{
    border-color: #5F5F5F;
    color: #82a7bd;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
}

button.fb-button{
    background-color: #3b5998;
    color: #fff;
}

.call-login{
    text-transform: uppercase;
    display: block;
    font-size: 52px;
}

.login{
    margin: 0 auto;
    width: 56em;
}

.login p{
    margin-bottom: 0;
}

.login input[type="text"],
.login input[type="password"]{
    font-size: 43px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: .6em;
    margin: .1em;
    background: none;
    color: #fff;
    border-bottom: 1px solid #dedede;
    border-top: none;
    border-right: none;
    border-left: none;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus{
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
    background-color: #545353;
} 

.login input[type="submit"]{
    border: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: #dedede;
    background: none;
}

.login.cadastro input[type="text"], .login.cadastro input[type="password"]{
    width: 14em;
}

.login.cadastro input[type="submit"]{
    color: #404040;
}

.login.cadastro input[type="checkbox"],
.login.cadastro input[type="radio"]{
    width: 2.5em;
    height: 2.5em;
    margin: 0 1em;
}

.login.cadastro{
    width: 62em;
}

.login.cadastro h4{
    font-size: 5em;
    font-family: Monitorica, Open Sans, sans-serif;
    width: 100%;
    margin: 1em 0;
}

.login.cadastro li{
    list-style: none;
    width: 45%;
    float: left;
    margin: 1.4em;
}

.login.cadastro .choice-categories{
    padding: 0;
    display: table;
    width: 100%;
    margin-bottom: 1em;
}

.login.cadastro .form-item-margin{
    margin: 3em 0;
}

.choice-category img{
    width: 5em;
    display: block;
    margin: 0 auto 1em;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.choice-category{
    border: 1px solid #C4C2C2;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    background-color: #48637b;
    color: #fff;
}

.choice-category li{
    padding: 0;
}

.login.cadastro .choice-category label{
    text-transform: uppercase;
    margin: 0 0.2em;
    font-size: 2.7em;
}

.box-flag{
    display: inline-block;
    margin: 0 0.3em;
}

.bandeira-cartao{
    width: 9em;
    height: 6.1em;
    display: block;
    background-image: url(../img/credit-cards.png);
    background-repeat: no-repeat;
    background-size: 28em;
}

#bandeira-visa{
    background-position: 0 0;
}

#bandeira-master{
    background-position: -117px 0;
    width: 9em;
}

#bandeira-visaelectron{
    background-position: -223px 0;
    width: 9em;
}

#bandeira-discover{
    background-position: -125px -73px;
    width: 10.5em;
    height: 7.3em;
}

.normal-form{
    padding: 0 8em;
    text-align: left;
}

.normal-form h3{
    font-family: Monitorica, Open Sans, sans-serif;
    text-transform: uppercase;
    font-size: 4em;
}

.normal-form input,
.normal-form select{
    padding: 1em;
    font-size: 1em;
    width: 90%;
    border: 1px solid #aaa;
}

.normal-form p span{
    font-size: 0.5em;
}

.normal-form select{
    width: 100%;
}

.normal-form input[type="radio"]{
    width: 8em;
    height: 3em;
    margin: 1em;
}

.labels-internal input[type="radio"]{
    width: 1em;
    height: 1em;
    margin: 0.3em;
}

.photo-product-rev{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin-right: 1.5em;
}

.photo-product-rev img{
    width: 100%;
}

.info-product-rev{
    display: inline-block;
    width: 50%;
    font-size: 3em;
    line-height: 1.3em;
}

.normal-form input.price-donation{
    width: 82%;
}

button.submit{
    margin-top: 4em;
    border-color: #dedede;
}

.cadastro button.submit{
    margin-top: 0;
    margin-bottom: 2em;
}

button.submit:active{
    background-color: #292929;
    border-color: #292929;
}

.remember-pass{
    font-size: 36px;
}

.column button.submit{
    width: 9em;
}

.small-text-obs{
    font-size: 29px;
    display: block;
    margin: auto;
    text-align: left;
    padding: 0 1.9em;
}

input[type="checkbox"]{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1.5em;
}

/* Header */

header.main-header{
    padding-top: 4%;
    background: #fff;
}

.loja header h1.logo img{
    width: 17%;
}


h1.logo img{
    width: 44%;
    max-width: 690px;
    margin: 0.1em 0;
}

.logo a{
    border: none !important;
}

/* Facebook login */

header.header-facebook{
    background-color: #3b5998;
    color: #fff;
    font-size: 3em;
    padding-bottom: 0.5em;
}

header.header-facebook span{
    font-size: 1em;
}

header.header-facebook a{
    color: #fff;
    position: absolute;
    left: 5%;
}

.left-icon-fb{
    width: 20em;
    height: 20em;
    display: inline-block;
    overflow: hidden;
    margin: 14em 0 0;
}

.left-icon-fb img{
    width: 100%;
}

.obs-fb p{
    font-size: 15px;
}

.obs-fb span{
    font-size: 13px;
    display: block;
    margin-top: 6em;
}

.content-inner.content-inner-fb{
    background-color: #fff;
}

.button-bottom-fb a:last-of-type button{
    float: right; 
}

.button-bottom-fb a:first-of-type button{
    background-color: #FAFBFB;
    border-color: #aaa;
    color: #222;
    text-transform: capitalize;
}

.button-bottom-fb a button{
    margin: 0.5em;
    float: left;   
    width: 35%;
}

.button-bottom-fb{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Icons */

.icon-favorite{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 15%;
}

.favorite-button img{
    display: inline-block;
    width: 1.2em;
    vertical-align: bottom;
    margin: 0 0.5em;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.icon-bag,
.icon-search{
    position: absolute;
    top: 1.7em;
    width: 1.3em;
}

.icon-bag{
    right: 17%;
}

.icon-share,
.icon-search{
    right: 6%;  
}

.icon-search img{
    width: 4em;
}

/* #toggle-search {
  float: right;
  background-position: -60px 0;
}

#toggle-search.open:after {
  top: 40px;
}

#toggle-search:after {
  -moz-transition: top, 0.5s;
  -o-transition: top, 0.5s;
  -webkit-transition: top, 0.5s;
  transition: top, 0.5s;
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -8px;
  content: "";
  border-color: transparent transparent #e1e4e7;
  border-style: solid;
  border-width: 8px 8px 12px;
}

#search-form {
  -moz-transition: max-height, 0.5s;
  -o-transition: max-height, 0.5s;
  -webkit-transition: max-height, 0.5s;
  transition: max-height, 0.5s;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #e1e4e7;
}

#search-form.open {
  max-height: 60px;
}
#search-form fieldset {
  position: relative;
  margin: 0 60px 0 0;
  padding: 0;
  border: none;
}
#search-form input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 60px;
}
#search-form input[type="search"] {
  width: 100%;
  padding: 0 5px 0 22px;
  background: transparent;
  border: none;
}
#search-form input[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #516270;
  background: #c6cacd;
  border: none;
  cursor: pointer;
}*/

.active-icon{
    opacity: .3;
}

.active-icon:active{
    opacity: .6;
}

[class^="icon-"] img{
    width: 100%;
}

[class^="icon-"]:active img{
    opacity: .5;
}

.content-inner.products-inner .section-button-product .icon-favorite{
    margin: 0 1em;
    vertical-align: middle;
}

/* Menu */

.wrapper-menu nav ul li a,
.wrapper-menu nav ul li a img{
    display: inline-block;
    margin: 0 0.5em;
}

.wrapper-menu nav ul li a img{
    width: 1.3em;
    vertical-align: middle;
}

.wrapper-menu nav ul li a:active img{
    -webkit-filter: invert(1);
    filter: invert(1);
}

.wrapper-menu ul {
  margin: 0;
  padding: 0;
    list-style: none;
}

/* Content */
.wrapper-menu .content {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #B9B9B9;
    box-shado: 0 0 50px 0 rgba(0,0,0,.8);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.wrapper-menu .content-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrapper-menu .content-inner h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
    font-family: Futura, "Century Gothic", "helvetica neue", arial, sans-serif !important;
    font-style: italic;
}

.wrapper-menu .content-inner p {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.wrapper-menu .content-inner p span {
    border-bottom: 1px solid #fff;
}

/* drawer menu */
.wrapper-menu .drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    padding: 16em 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: perspective(500px) rotateY(90deg);
    transform: perspective(500px) rotateY(90deg);
    opacity: 0;
}

.wrapper-menu .drawer-menu li {
    text-align: center;
}

.wrapper-menu .drawer-menu li a {
    display: block;
    line-height: 107px;
    font-size: 35px;
    color: #fff;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.wrapper-menu .drawer-menu li a:active {
    color: #404040;
    background: #fff;
}

.wrapper-menu .drawer-menu li a:active img{
    -webkit-filter: invert(0);
    filter: invert(0);
}

/* checkbox */
.wrapper-menu .check {
    display: none;
}

/* menu button - label tag */
.wrapper-menu .menu-btn {
    position: absolute;
    display: block;
    top: 5em;
    left: 7%;
    display: block;
    width: 8%;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.wrapper-menu .bar {
    display: block;
    width: 80%;
    height: 4px;
    margin: 0.8em .7em;
    background: #000;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.wrapper-menu .bar.middle {
    opacity: 1;
}

.wrapper-menu .bar.bottom {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}

.wrapper-menu .menu-btn-text {
    color: #000;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: block;
    visibility: visible;
    opacity: 1;
    font-size: 2em;
}

.wrapper-menu .menu-btn:hover .bar {
    background: #999;
}

.wrapper-menu .menu-btn:hover .menu-btn-text {
    color: #999;
}

.wrapper-menu .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background: rgba(0,0,0,0);
    cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}

/* Menu checked */
.wrapper-menu .check:checked ~ .drawer-menu {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    z-index: 2;
}

.wrapper-menu .check:checked ~ .content {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
}

.wrapper-menu .check:checked ~ .menu-btn .menu-btn-text {
    visibility: hidden;
    opacity: 0;
}

.wrapper-menu .check:checked ~ .menu-btn .bar{
    background-color: #fff;
}

.wrapper-menu .check:checked ~ .menu-btn .bar.top {
    width: 56px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wrapper-menu .check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.wrapper-menu .check:checked ~ .menu-btn .bar.bottom {
    width: 56px;
    position: absolute;
    top: 40px;
    left: -1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.wrapper-menu .check:checked ~ .close-menu {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    background: rgba(0,0,0,.5);
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

/* */

.spaced-button{
    margin: 3em auto;
}

.spaced-button::after{
    content: '';
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent; 
    border-left:13px solid #48637b; 
    margin-left: .3em;
}

.spaced-button:active::after{
    border-left-color: #fff;
}

/* Loja */

.loja .content-inner{
    background-color: #f2f2f2;
    display: table;
    width: 100%;
    height: auto;
    padding-bottom: 16%;
} 

.content .content-inner .product-box a img{
    width: 100%;
}   

a[class^="look-"]{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a[class^="look-"]:active{
    opacity: .5;
}

a[class^="look-"] span{
    width: 5.5em;
    height: 5.5em;
    display: table;
    position: relative; 
    top: 17%;
    left: 23%;
    background-color: rgba(131, 161, 180, 0.83);
    color: #fff;
    transform: rotate(45deg);
    border-radius: 13%;
}

a[class^="look-"]:first-of-type span{
    left: 10%;
}

a[class^="look-"] span strong{
    transform: rotate(-45deg);
    display: table-cell;
    vertical-align: middle;
}

.look-ano-novo{
    width: 96%;
    height: 9em;
    display: block;
    background-image: url(../img/anonovo.jpg);
    margin: 0 .5em .5em;
}

.look-balada,
.look-boy,
.look-amigas,
.look-praia,
.look-tranquilo,
.look-bar{
    width: 47%;
    height: 9em;
    float: left;
    margin: 0 .5em .5em;
}


.product-box a{
    position: relative;
    width: 47%;
    height: 12em;
    float: left;
    margin: 0 .5em .5em;
    overflow: hidden;
}

.product-box a:nth-child(2n+2){
    margin: 0;
}

.product-box a span{
    position: absolute;
    width: 3em;
    height: 3em;
    display: table;
    bottom: 23%;
    right: 11%;
    background-color: rgba(131, 161, 180, 0.7);
    color: #fff;
    transform: rotate(50deg);
}

.product-box a span strong{
    transform: rotate(-50deg);
    display: table-cell;
    vertical-align: middle;
}

.look-boy,
.look-praia,
.look-bar,
.look-moletons,
.look-camisas,
.look-shorts{
    margin: 0;
}

.content-inner.products a[class^="look-"]{
    width: 47%;
    height: 12em;
    float: left;
    margin: 0 .5em .5em;
}

.content-inner.products a[class^="look-"]:nth-child(2n+2){
    margin: 0;
}

.content-inner.products a[class^="look-"] span{
    top: 28%;
}

.content-inner.products a[class^="look-"]:first-of-type span{
    left: 28%;
}

.content-inner.products-inner .slider-box img{
    width: 100%;
}

.look-balada{
    background-image: url(../img/balada.jpg);
}

.look-boy{
    background-image: url(../img/boy.jpg);
}

.look-amigas{
    background-image: url(../img/shop.jpg);
}

.look-praia{
    background-image: url(../img/praiaa.jpg);
}

.look-tranquilo{
    background-image: url(../img/boa.jpg);
}

.look-bar{
    background-image: url(../img/bar.jpg);
}

.look-saias{
    background-image: url(../img/product-_0006_product_0008_cute-955783_1920.jpg);
}

.look-calcados{
    background-image: url(../img/product-_0008_product_0010_boots-181744_1280.jpg);
}

.look-camisetas{
    background-image: url(../img/product-_0010_product_0012-tatoo.jpg);
}

.look-vestidos{
    background-image: url(../img/product-_0009_product_0011_women-656074_1920.jpg);
}

.look-sandalias{
    background-image: url(../img/product-_0002_product_0004_sandals-587185_1920.jpg);
}

.look-blusas{
    background-image: url(../img/product-_0004_product_0006_fashion-694837_1920.jpg);
}

.icon-category{
    display: inline-block;
    position: relative;
    margin: 0.5em 1em;
}

a[class^="icon-category"] img{
    width: 1.3em;
}

a[class^="icon-category"] span{
    display: block;
}

.more-categories{
    display: block;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

.info-product{
    position: relative;
    margin-top: -14em;
    padding: 0 3em;
    background-image: linear-gradient(to bottom, transparent 0%, #F2F2F2 4%);
    display: table;
    height: auto;
}

.info-product span{
    display: block;
}

.price-product,
.name-product{
    font-size: 5em;
    margin-top: 1em;
}

.name-product{
    margin: 0.5em 0;
}

.section-circle{
    float: left;
}

.section-circle:last-of-type{
    float: right;
}

.section-circle ul{ 
    list-style: none;
}

.section-circle ul li{
    display: inline-block;
} 

.section-circle strong{
    text-align: left;
}

.section-circle li label{
    font-size: 3em;
    width: 2em;
    display: block;
    margin: 0 0.2em;
    background-color: #fff;
    border-radius: 39px;
    height: 2em;
    line-height: 2em;
}

.section-circle input{
    position: absolute;
    left: -999999%;
}


.section-circle li .attr-size a:focus{
    color: #fff;
}

.section-circle > li > label > input{
    position: absolute;
    top: 0;
    left: -90000px;
}

.color-product li label.color-82a8bd{
    background-color: #82a8bd;
}

.color-product li label.color-fff{
    background-color: #fff;
}

.color-product li label.color-c8d94a{
    background-color: #c8d94a;
}

.size-product input:focus + label{
    background-color: #000;
    color: #fff;
}

.color-product input:focus + label{
    opacity: .7;
    background-image: url(../img/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.section-button-product button{
    width: 95%;
}

button.blue-button{
    background-color: #82a8bd;
    color: #fff;
}

button.blue-button:active{
    background-color: #638090;
}

button.dark-blue-button{
     background-color: #48637b;
     color: #fff;
}

button.dark-blue-button:active{
    background-color: #2D3D4C;
}

button.yellow-button{
    background-color: #f1b237;
    border-color: #f1b237;
    color: #fff;
    position: relative;
}

button.yellow-button:active{
    background-color: #E0980C;
}

.content-text-box{
    text-align: left;
    padding: 0 5em;
}

.box-perfil{
    display: table;
    height: auto;
    margin: 6em auto;
}

.box-perfil .image-perfil,
.box-perfil .info-perfil{
    float: left;
    display: block;
}

.image-perfil{
    width: 20em;
    height: 20em;
    display: block;
    overflow: hidden;
    margin-right: 5em;
    border-radius: 11em;
}

.image-perfil img{
    width: 100%;
}

.info-perfil{
    text-align: left;
}

.box-perfil span{
    display: block;
    font-size: 3.3em;
}

.box-perfil .name-perfil{
   font-size: 4em; 
}

.amigos .image-perfil{
    width: 15em;
    height: 15em;
}

.amigos .box-perfil .info-perfil{
    margin: 1em 0;
}

.amigos .box-perfil{
    margin: 5em auto;
}

.amigos .favorite-button{
    float: left;
    margin: 0.5em 0;
    width: 11.5em;
}